/* #1 head */
.hero{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border:double transparent 2px;       
    padding-bottom: 10px;

}
.hero-section{
    display:flex;
    flex-flow: column;
    
    width: 40%;
    height: fit-content;
    min-width: 300px;
    background-color: unset;
    padding: 10px;
    margin: 50px;
    margin-left: 100px;
}


.hero-section h3,b,span,p{
    font-family: Roboto;
    font-style: normal;
    
    
    text-align: justify;

    color: #444444;
}

.hero-section h3 span{
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    line-height: 40px;
}

.hero-section h3 span{
    display: block;
    float: left;
    width: 100%;
}

.hero-section p{
    margin-top:10px;
    line-height: 30px;
}

.hero-section p span{
    font-weight: 350;
}

.start-btn{
    width:fit-content ;
    position: relative;
    top: 0px;
    margin-left: 25%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 10px;
    background:linear-gradient(94.64deg, #063F95 0%, #2F7FF7 100%);
    color: white;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}

.start-btn:hover{
    text-decoration: none;
    color: white;
}

.hero-logo{
   display:flex;
    width: 40%;
    min-width: 300px;
    height: 30em;
    background-color: unset;
    margin: 50px;
}

.hero-logo img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.courses{
    display: inline-block;
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: justify;
}

.courses .course-heading{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 20px auto 20px auto;
}

.courses .course-list{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 40px auto;
    height: fit-content;
    background: #FFFFFF;
    backdrop-filter: blur(19px);
}

.courses .course-list:nth-child(odd){
    box-shadow:17px 22px 27px -4px rgba(71,70,70,0.35);
    border-radius: 50px 50px 50px 0px;
    flex-flow: row-reverse;
}

.courses .course-list:nth-child(even){
    box-shadow: -18px -11px 27px -4px rgba(71,70,70,0.35);
    border-radius: 50px 50px 0px 50px;
    flex-flow: row;
}

.course-list .course-view{
    display: block;
    height: 50%;
    margin:10px 0 10px;
    width: 25%;
    background: linear-gradient(129.57deg, #063F95 0%, #2F7FF7 100%);
    
}

.course-list:nth-child(even) .course-view{
    justify-content: left;
    border-radius: 20px 20px 20px 0px;
    margin-left: -7.5%;
}
.course-list:nth-child(odd) .course-view{
    justify-content: right;
    border-radius: 20px 20px 0px 20px;
    margin-right: -7.5%;
}

.course-view  img{
   display: block;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.course-list:nth-child(even) .course-view img{
    float: left;
    margin-left: -10%;
}
.course-list:nth-child(odd) .course-view img{
    float: right;
    margin-right: -10%;
    
}

.course-list .course-desc{
    display: block;
    margin:5%;
    width: 70%;
}

.footer-wrap{
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.footer-content-wrap{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #31D4D8;
    padding-top:5%;

}    

.footer-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.library-view{
    display: flex;
    flex: 1 1 1;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.catalog{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 0px;
    width: 300px;
    height: 420px;
}
.catalog-video{
    margin: 25px auto;
    width: 80%;
    height: 30%;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
}
.catalog-title{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    color: #0E538C;
}
.catalog-title h2{
    font-weight: bold;
    font-size: 26px;
    line-height: 12px;
}

.catalog-title h3{
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
}

.catalog-discription{
    width: 80%;
    margin: auto;
    justify-content: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    text-align: justify;

    color: #000000;
}

.catalog-tags{
    display: flex;
    justify-content: space-around;
    flex: 1 1 1;
    width: 80%;
    height: fit-content;
    margin: 20px auto;
}

.catalog-tags .tag{
    width: 25%;
    height: 25px;
    background: linear-gradient(97.67deg, #18A002 0%, #50D53A 100%);
    color: white;
}

.catalog-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0185FE;
}

.catalog-nav{
    display: inline-block;
    width: 100%;   
}

.catalog-nav button{
    display: block;
    float: left;
    width: 60%;
    background: linear-gradient(97.67deg, #18A002 0%, #50D53A 100%);
    border-radius: 50px;
    border: transparent;
    padding: 5px;
    margin-left: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #FFFFFF;

}

.catalog-nav .product-info{
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    background: #C4C4C4;
    border-radius: 50%;
    margin-right:20px ;
    padding: auto;
    justify-items: center;
    align-items: center;
}

.product-info .fa-info{
    width: 95%;
    color: linear-gradient(97.67deg, #18A002 0%, #50D53A 100%);
}

@media screen and (max-width:736px) {
    .hero, .library-view{
        flex-flow: column;
    }

    .catalog{
        margin-top:30px ;
    }
}
