
/* #1 head */
.hero{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border:double transparent 2px;       
    padding-bottom: 10px;

}
.hero-section{
    position: relative;
    top: 20px;
    width: 35%;
    min-width: 400px;
    background-color: unset;
    padding: 0;
    margin: 50px;
}
.hero-section h3,b,span,p{
    text-align: unset;
    background-color: unset;
    font-weight: 300;
}
.hero-section h3{
    line-height: 40px;
}
.hero-section h3 span{
    display: block;
    float: left;
    width: 100%;
}
.hero-section p{
    margin-top:150px;
    line-height: 30px;
}
.hero-section p span{
    font-weight: 350;
}

.start-btn{
    width:fit-content ;
    position: relative;
    top: 0px;
    margin-left: 25%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 10px;
    background:linear-gradient(94.64deg, #063F95 0%, #2F7FF7 100%);
    color: white;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}

.start-btn:hover{
    text-decoration: none;
    color: white;
}
 .hero-logo{
   display:inline;
   float: right;
    width: 35%;
    min-width: 100px;
    height: 30em;
    background-color: unset;
    margin: 50px;
}

.hero-logo img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.strip{
    position: relative;
    width: 687.56px;
    height: 52.53px;
    left: 40%;
    top: 93%;
}
/* #2 main body */


.features{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services{
    margin: auto;
    justify-content: center;
}

.service{
    display: inline-block;
    
    width: 28%;
    min-width: 300px;
    height: fit-content;
    border-radius: 0 20px 20px 0;
    box-shadow:3px 3px 6px rgba(0, 0, 0, 0.5);
    margin:70px 0px 70px 40px;
    margin-left: 40px;
}
.custom-solutions{
    padding-bottom: 70px;
}

.course-bundles{
    padding-bottom: 30px;
}
.service img{
    position: relative;
    top: -45px;
    left: -25px;
    width: 30%;
}

.title,.description{
    position: relative;
    top: -70px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;

    color: #444444;
}

.description{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;    
    line-height: 30px;
    display: flex;
    align-items: center;
    padding:20px ;
    color: rgba(0, 0, 0, 0.59);
}

.chart{
    display: inline-block;
    width: 100%;
    background-color: #31D4D8;
}
.chart-view{
    display: block;
    width: 100%;
}
.background{
    border: black solid 2px;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.chart .chart-background{  
    width: 100%;
    z-index: -1;
}
.chart .strips-1{
    position:relative;
    top: -900px;
    left: 2em;
    width: 40%;
}
.chart .strips-2{
    position:relative;
    top: -17.5em;
    left: 18em;
    width: 40%;
}

.chart .intro{
    position: relative;
    top: 10px;
    left: 30%;
    width: 40%;
    margin: 0;
    padding: 0;
}

.intro .intro-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1em;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro .intro-desc{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1em;
    text-align: justify;
    color: #444444;
}

.chart .desc-travel{
    position: relative;
    width: 470px;
    top: 60px;
    left: 6%;
    background: #FFFFFF;
    border: 3px solid #FFF6F6;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    background-color: white;
    border-radius: 40px 40px 0px 40px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1em;
    padding: 1%;
    text-align: center;

    color: #444444;
}

.chart .desc-employee{
    position: relative;
    top: 0px;
    left: 58%;
    width: 400px;
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    border: 3px solid #FFF6F6;
    border-radius: 40px 40px 40px 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1em;
    padding: 1%;
    text-align: center;

    color: #444444;
}
.chart .desc-effect{
    position: relative;
    width: 400px;
    top: 60px;
    left: 8%;
    border: 3px solid #FFF6F6;
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    border-radius: 40px 40px 0px 40px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1em;
    padding: 1%;
    text-align: center;
    color: #444444;
}
.chart .desc-flexibility{
    position: relative;
    width: 350px;
    top:60px;
    left:60%;
    border: 3px solid #FFF6F6;
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    border-radius: 40px 40px 40px 0px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1em;
    padding: 1%;
    text-align: center;

    color: #444444;
}
.chart .chart-logo img{
    position: relative;
    top: -10em;
    left: 40%;
    width: 20%;
}

.prog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.prog .prog-rate{
    width: 270px;
    min-width: 150px;
    margin: 2%;
    padding: 0;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
    color: #444444;
}


.prog-rate img{
    width: 180px;
}
.news-shelter{
    display: inline-block;
    width: 100%;
    background-color: #31D4D8;
    height: fit-content;
}

.news-shelter .slides{
    width: 55%;
    text-align: center;
    margin: 10% auto 10% auto;
}

.news-shelter .prev, .next {
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 8em;
    width: auto;
    height: auto;
    padding: 1%;
    background-color: linear-gradient(123.39deg, #063F95 2.09%, #2F7FF7 95.04%);
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px; */
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);

    }

  .news-shelter .next{
      left: 80%;
      text-decoration: none;
  }
  
  .prev:hover, .next:hover {
    background-color: linear-gradient(236deg, rgba(238,175,175,0.7483368347338936) 0%, rgba(0,212,255,0) 100%);
    color: rgb(238,175,175);
  }

.news-shelter .testimonial{
    width: 100%;
    height: fit-content;
    padding: 0 5% 5% 5%;
    background: linear-gradient(285.43deg, rgba(255, 255, 255, 0.48) 1.75%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    border-radius: 42px;
}

.testimonial h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color:rgba(6, 63, 149, 1);
}

.testimonial .test-text,.test-sign{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 35px;
    text-align: center;
    padding: 10%;

    color: rgba(0, 0, 0, 0.8);
}
.testimonial .test-text::before{
    content: "\201C";
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.testimonial .test-text::after{
    content: "\201D";
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testimonial .test-sign{
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 0;
}
.star-widget{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 1.7em;
}
.star-widget input{
    display: none;
  }

.star-widget label{
    color: blue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    -webkit-text-fill-color:blue;
  }
  input:checked ~ label{
    -webkit-text-fill-color: blue;
  }
  input#rate-5:checked ~ label{
    -webkit-text-fill-color: blue;
    text-shadow: 0 0 20px #952;
  }

/* .news-shelter .strips-1{
    position:relative;
    top: -89.5em;
    left: 2em;
    width: 40%;
}
.news-shelter .strips-2{
    position:relative;
    top: -17.5em;
    left: 18em;
    width: 40%;
} */

.client{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
}

.client-logo{
    display: inline-block;
    width: 200px;
    min-width: 150px;
    margin: 2%;
    padding: 0;
    text-align: center;
}

.client-logo img{
    width: 180px;
}

b{
    font-size: 1.8em; 
}


@media screen and (max-width:736px)  {
    .hero{
        flex-flow: column;
    }
    .head-design{
        border: black 2px solid;
        height: 90em;
    }

    .hero-section{
        width: 80%;
        background-color: unset;
        padding: 0;
        margin: 20px;
    }
    .hero-logo{
        width: 80%;
        height: 30em;
        background-color: unset;
        margin: 50px;
    }

    .main{
        margin-top: 300px ;
    }

    
}

@media screen and (max-width:900px) and (min-width:736px){
    .main{
        top: 1100px;   
    }
}
@media screen and (max-width:736px) {
    .prog{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        ". uniq-courses ."
        "uniq-feature happy-client"
        ". customer-sup ." ;
    }
    .intro .intro-heading{
        font-size: 2em;
    }
    
    .chart{
        height: 650px;
    }

    .chart .intro{
        width: 80%;
        left: 10%;
    }
    .chart .desc-travel{
        width: 80%;
        left: 0;
        top: 30px;
    }

    .chart .desc-employee{
        left: 9%;
        top: 40px;
    }
    .chart .chart-logo img{
        top: -30px;
    }

    .chart .desc-effect{
        top: 180px;
        left: auto;
    }

    .chart .desc-flexibility{
        top:200px;
        left: 10%;
    }


}

