/* #1 head */
.hero{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border:double transparent 2px;       
    padding-bottom: 10px;

}
.hero-section{
    display:flex;
    flex-flow: column;
    width: 80%;
    height: fit-content;
    min-width: 300px;
    background-color: unset;
    padding: 10px;
    margin: 50px;
    margin-left: 100px;
}

.hero-section h2,p,.hero-content-main{
    width: 100%;
    text-align: left;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    align-items: center;
    color: #444444;
}

.hero-content-main ul{
    list-style-type: none;
}



 .hero-logo{
    display:flex;
    flex-flow: column;
    width: 25%;
    min-width: 350px;
    height: fit-content;
    background-color: unset;
    overflow: auto;
    margin: 50px;
    margin-right: 10%;
    margin-bottom: 10%;
    -webkit-box-shadow: 10px 7px 10px 0px rgba(0,0,0,0.3); 
    box-shadow: 10px 7px 10px 0px rgba(0,0,0,0.3);
    border-radius: 0 10px 10px 0;
}

.hero-logo h1{
    width: 100%;
    padding: 10px;
    margin:0 ;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #F7F7F7;
    background: linear-gradient(90.68deg, #0E538C 0.4%, #0185FE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}
.hero-logo form{
    width: 100%;
    background-color: #ffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 15px;
    color: #444444;   
    padding: 50px;
    
    border-radius: 0 0 10px 0;
}

.hero-logo form input{
    background-color: rgba(11, 72, 112, 0.05);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.hero-logo form label{
    display: block;
    float: left;
    margin-left: 20px;
}
.strip{
    position: relative;
    width: 687.56px;
    height: 52.53px;
    left: 40%;
    top: 93%;
}
.form-check{
    display:inline-block;
    width: 100%;
}

.form-check input[type=checkbox]{
    margin-left: -455px;
}
.form-check label{
    float: right;
    margin: unset;
}


.hero-logo form input[type=button]{
    width: 15rem;
    border-radius: 50px;
    padding: 10px;
    background:linear-gradient(94.64deg, #063F95 0%, #2F7FF7 100%);
    color: white;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.hero-logo form input[type=button]:hover{
    text-decoration: none;
    color: black;
}

.main-content-wrap{
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    line-height: 30px;
}

.main-content{
    display: flex;
    flex-flow:row ;
    width: 100%;
    height: fit-content;
}

.main-content-video{
    position: relative;
    top: 30px;
    left: 40px;
    width: 50%;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    z-index: 1;
}

.content-view{
    position: relative;
    text-align: justify;
    top: 0;
    width: 60%;
    padding: 5%;
    color: white;
    background: linear-gradient(106deg, #0E538C 0%, #0185FE 99.48%);
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -1;
}

.footer-wrap{
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.footer-content-wrap{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #31D4D8;
    padding-top:5%;
    border-radius: 241px 0px 0px 0px;

}    

.footer-round-strip{
    position: relative;
    top:300px;
    left: 0;
    z-index: -2;
    width: 20%;
    border-radius: 0 100% 0 0;
    background-color: rgba(14, 83, 140, 1);
    height:300px;
}    

.inner{
    position: relative;
    top:30px;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 0 100% 0 0;
    background-color: rgba(24, 160, 2, 1);
    height:300px;
}

.footer-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.client{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;

}

.client .client-logo{
    display: block;
    width: 200px;
}

.client-logo img{
    width: 100%;
}
.news-shelter{
    display: block;
    width: 70%;
    height: 20%;
    background-color: transparent;
    margin: auto;
    justify-items: center;

}

.news-shelter .slides{
    width: 55%;
    text-align: center;
    margin: 10% auto 10% auto;
}

.news-shelter .prev, .next {
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 8em;
    width: 10px;
    height: 10px;
    padding: 1%;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
   
  }

  .news-shelter .next{
      left: 80%;
      text-decoration: none;
  }
  
  .prev:hover, .next:hover {
    background-color: linear-gradient(236deg, rgba(238,175,175,0.7483368347338936) 0%, rgba(0,212,255,0) 100%);
    color: rgb(238,175,175);
  }

.news-shelter .testimonial{
    width: 100%;
    height: fit-content;
    padding: 0 5% 5% 5%;
    background: linear-gradient(285.43deg, rgba(255, 255, 255, 0.48) 1.75%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    border-radius: 42px;
   }

.testimonial h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
    color:rgba(6, 63, 149, 1);
}

.testimonial .test-text,.test-sign{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    padding: 10%;

    color: rgba(0, 0, 0, 0.8);
}
.testimonial .test-text::before{
    content: "\201C";
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
 .testimonial .test-text::after{
    content: "\201D";
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testimonial .test-sign{
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 0;
}
.star-widget{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 1.7em;
}
.star-widget input{
    display: none;
  }

.star-widget label{
    color: blue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    -webkit-text-fill-color:blue;
  }
  input:checked ~ label{
    -webkit-text-fill-color: blue;
  }
  input#rate-5:checked ~ label{
    -webkit-text-fill-color: blue;
    text-shadow: 0 0 20px #952;
  }


@media screen and (max-width:736px) {
    .hero,.main-content,.client{
        flex-flow: column;
    }

    .main-content-video{
        width: 80%;
        left: 1%;
    }
    .content-view{
        width: 100%;
    }
}