.header-gradiant{
    position: absolute;
    top: -20px;
    left: -40px;
    width: 15rem;
    height: 15rem;
    border:orange 2px dotted;
    z-index: -1;
}

.header-brush-effects{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFFEFE 0%, rgba(252, 247, 247, 0) 80%);
    transform: rotate(106.17deg); 
}

.header-bright-effects{
    position: absolute;
    left: -50%;
    width: 100%;
    height: 90%;
    border-radius: 50%;
    background: linear-gradient(140deg, rgba(61, 175, 240, 0.4)10%, rgba(252, 247, 247, 0) 80%);
    /* filter: blur(150px); */
    transform: rotate(89.22deg);
    z-index: -5;
}
