*{
    /* text-align: justify; */
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
}
li a:hover{
    text-decoration: none;
    color: rgb(120, 120, 131);
}

.container-wrap{
    position: absolute;
    top: 0;
    left: 0;
}

.head{
    display: inline-block;
    width: 100%;
    height: fit-content;
    background-color: #31D4D8;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 8%;
    /* border: black dashed 2px; */
}

header{
    position: block;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: 20px auto 20px  auto;
    height: fit-content;
    padding-bottom: 0px;
    border-radius: 15px;
    backdrop-filter: blur(100px);
    background: linear-gradient(105.03deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.24) 100%);
    z-index: 10;
}

header img{
    background-color:unset;
    width: 70px;
    height: 100px;
    padding: 10px;
    float: left;
    margin-left: 8px;
}

nav{
    background-color: unset;
    padding: 5px;
    width: 90%;
    float: left;   
    margin-top: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    background-color: unset;
}
nav ul li{
    display: inline-block;
    margin-right: 20px; 
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:active li{
    border-bottom: #ffffff 2px;
}

.dropdown-menu .dropdown-item{
    background-color: #ffffff;
    margin: auto;
    text-align: center;
}
/* .dropdown{
    border: solid 2px black;
} */

#navbarDropdown::after{
    position: relative;
    content: '';
    display: inline-block;
    background: url("/images/Dropdown.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
    top: 2px;
}

.personal{
    border: solid red 1px;
    border-radius: 20px;
    width: 170px;
    text-align: center;
    margin: auto;
    padding: 3px;
    margin-right: 2px;
}

.personal a{
    background-color: unset;
}

.main{
    position: relative;
    top: 50px;
    width: 100%;
    margin-top: 0;
    height: fit-content;  
}


footer{
    width: 100%;
    height: 200px;
    background: linear-gradient(91.65deg, rgba(255, 255, 255, 0.87) 0%, rgba(255, 255, 255, 0.5) 99.27%);
    backdrop-filter: blur(20px);
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

footer .logo{
    display: block;
    float: left;
    margin: 10px;
}

footer address{
    display: inline-block;
    width: 10%;
    font-size: 1.2em;
    line-height: 40px;
    margin-top: 20px;
}

footer .social-icon{
    display: block;
    float: right;
    width: 10%;
    font-size: 2.5em;
    margin: 30px;
}
.footer .custom-background{
    width: 100%;
    height: 300px;
}


@media screen and (min-width:736px) {
    .openbtn{
    display: none;
    }
}
@media screen and (max-width:736px) {
    *{
        justify-items: center;
        align-items: center;
        margin: auto;
    }
    .openbtn{
        display: block;

        background-color:transparent;
        }

    .sidebar {
        height: fit-content;
        width: 70%;
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-radius: 10px;
      }
      .sidebar ul{
          height: 100%;
          text-align: center;
          margin: auto;
          background-color: unset;
      }

      .sidebar ul li{
        display: block;
        background-color: unset;
        margin: 10px;
    }
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        transition: 0.3s;
        background-color: unset;
      }
      
      /* .sidebar a:hover {
        
      } */
      .dropdown-menu{
          opacity: 0.9;
      }
      .dropdown-menu .dropdown-item{
        color: #000;
        margin: auto;
        text-align: center;
        opacity: 0.5;
    }

    .sidebar .personal{
        margin-left: 12px;
        width: 90%;
        background-color:white;
        display: block;
    }
    .sidebar .personal a{
    color: black;
    font-size: 1.3em;
    
    }
      .openbtn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
        border: none;
      }
}
